@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 11px;
  max-width: 375px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}

ul {
  list-style: none;
}

.logo-part {
  flex: 1;
  padding: 20px;
  font-weight: 800;
  font-size: 24px;
}

.logo-text {
  color: #6070ff;
  list-style: none;
}

.logo-text a {
  text-decoration: none;
  color: #6070ff;
}

.menu-part {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
}

.menu-part a {
  text-decoration: none;
  font-size: 25px;
  line-height: 20px;
  color: #344563;
  font-weight: 500;
  padding: 10px;
  align-items: center;
  font-style: bold;
}

.hamburgur {
  padding: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  margin: 4px;
  background: #6070ff;
  display: flex;
}
.main {
  display: block;
  margin: 0 auto;
  max-width: 375px;
}

.background {
  background: url(/images/header-shapes-mobile.png);
  max-width: 375px;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  left: -34px;
  margin-top: 2%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-text {
  max-width: 375px;
}

.intro-text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
  margin-top: 15%;
  padding: 0 7%;
}

.main-text {
  grid-column: 3;
  grid-row: 10;
  padding: 7%;
}

.text-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344653;
}

.social {
  align-self: flex-start;
  margin-bottom: 5%;
}

.connection {
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  font-weight: 900;
  padding: 20px 0;
}

.media-icons {
  display: flex;
  align-content: center;
  gap: 15px;
  left: 6.4%;
  bottom: 18.88%;
  top: 77.81%;
  width: 100%;
  padding-top: 20px;
  color: #505f79;
}

.social ul {
  list-style: none;
}

.fa-brands {
  color: #505f79;
  font-size: 20px;
  font-weight: 500;
}

.fa-solid {
  color: #505f79;
  font-size: 20px;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 360px;
  height: 600px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px;
  border: 1px solid black;
}

.image {
  width: 295px;
  height: 220px;
  top: 16px;
  padding-top: 10px;
  object-fit: fill;
  border-radius: 8px;
  margin: 5px;
}

.left-card1-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 288px;

}

.project-title {
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 30px;
  padding-left: 0;
  /* left: 0%; */
}

.project-badges {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  height: 35px;
  font-size: 13px;
  color: #344563;
  list-style: none;
  padding: 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-badges .text-1 {
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 16px;
  color: #344563;
  margin-left: 2px;

}

.counter-image {
  background: #c1c7d0;
  border-radius: 50%;
}

.text-2 {
  color: #7A869A;
  flex: 2;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

.text-3 {
  color: #7A869A;
  flex: 2;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
}

.project-description {
  color: #344563;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6rem;
  font-size: 16px;
}

.language-categories {
  display: flex;
  gap: 10px;
  padding: 4px 12px;
  list-style: none;
  margin-bottom: -10px;
  flex-direction: row;
  margin-top: -12%;
}

.language-categories>li {
  display: flex;
  align-items: center;
  padding: 4px 20px;
  background: #ebebff;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  letter-spacing: 0.03em;
  line-height: 30px;
  margin-top: -2px;

}

.submit-btn {
  background-color: #fff;
  color: #396DF2;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin-left: 2px;
  margin-top: 5%;
  width: 150px;
  height: 100px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}